.brand{
  font-size: 150%;
  color: rgba(227, 122, 37, 0.87);
  font-weight: bolder;
  text-shadow: 2px 2px 2px #000;
  font-family: 'Finger Paint', cursive;
  /*font-family: 'Oregano', cursive;*/
}

.logo{
  position: absolute;
  top: 15px;
  right: 10px;
}
