.form-input{
  z-index: 2999;
  color: #0c0c0c;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0px;

}

.show-form-btn{
  margin-left: 5px;
  margin-bottom: 5px;
}

.ctrl-btn{

  margin-bottom: 20px;
}
