.form-input{
  z-index: 2999;
  color: #0c0c0c;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0px;
  -moz-border-radius: 15px;
  border-radius: 4px;
  background-color: rgba(227, 208, 196, 0.82);
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.show-form-btn{
  margin-left: 5px;
  margin-bottom: 5px;
}

.ctrl-btn{
  /*width: 50px;*/
  /*display: inline-flex;*/
}
