.form-input{
  z-index: 2 !important;
  color: #0c0c0c;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 355px;

}

.show-form-btn{
  margin-left: 5px;
  margin-bottom: 5px;
}

.ctrl-btn{

  margin-bottom: 17px;
}

.pac-container {
  z-index: 4001 !important;
}

.ui-autocomplete {
  z-index: 1051 !important;
}
