<div ng-controller="AboutCtrl">
  <button ng-click="open()" class="about-btn btn btn-primary">About</button>
  <script type="text/ng-template" id="about.html">
    <div class="modal-header about-modal">
      <h3 class="modal-title">About Lousy Landlord</h3>
    </div>
    <div class="modal-body">
      <div>
        Lousy Landlord is a utility developed for prospective renters & tenants to inform themselves of potential lousy landlords,
        renters and properties.


      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
  </script>
</div>
